h1 {
  line-height: 2.25rem;
  font-size: 1.75rem;
  font-weight: 700;
}
h2 {
  padding: 0.5rem 0;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: lightgray;
    text-align: left;
  }
  th,
  td {
    padding: 12px 15px;
  }
  tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid gray;
  }
}

button {
  border-radius: 1rem;
  border: 1px solid black;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: darkgrey;
    transition: 0.3s ease-in;
  }
}
